altgraph
aniso8601     
blinker
certifi       
charset-normalizer
click
colorama
DAWG-Python      
distlib
filelock
Flask
Flask-Login      
Flask-RESTful 
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pefile
pillow
platformdirs
psycopg2-binary
pygame
pyinstaller
pyinstaller-hooks-contrib
pymorphy3
pymorphy3-dicts-ru
PyQt6
PyQt6-Qt6
PyQt6_sip
pyTelegramBotAPI
pytz
pywin32-ctypes
requests
setuptools
six
SQLAlchemy
sqlalchemy-serializer
telebot
typing_extensions
urllib3
virtualenv
Werkzeug
WTForms
