{% extends "base.html" %}

{% block content %}
<h1>Мои вопросы</h1>
<br>
<div align="center">
    <a align="center" class="btn btn-secondary" href="/">Вернуться назад</a>
</div>
<br>
{% for item in questions%}
{% if current_user.is_authenticated and user.id == item.user_id %}
<p>
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        Автор - {{item.author}}
    </div>
    <div align="right">
        {{item.datetime}}
    </div>
</div>
    <a class="btn btn-info" href="/questions/{{ item.catalog_id}}/{{ item.question_id }}">Открыть</a>
    <a class="btn btn-warning" href="/question_redactor/{{ item.catalog_id }}/{{item.id}}">Изменить</a> 
    <a class="btn btn-danger" href="/question_delete/{{ item.id }}">Удалить</a>
    {% endif %}
</p>
{% endfor %}
{% endblock %}