{% extends "base.html" %}

{% block content %}
<h1>Редактирование вопроса</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control", cols="20", rows="20") }}<br>
        {% for error in form.content.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <a align="center" class="btn btn-secondary" href="/questions/{{ catalog_id }}">Вернуться назад</a>
    {% if current_user.is_authenticated %}
        <a>{{ form.submit(type="submit", class="btn btn-primary") }}</a>
    {% else %}
        <a>Зарегистрируйтесь или войдите, чтобы редактировать вопросы</a>

    {{message}}
    {% endif %}
</form>
{% endblock %}
